[submodule "roles/role-install-gcloud"]                                                                                                                                                                                                          
        path = roles/role-install-gcloud
        url = https://github.com/michaelhaessig/role-install-gcloud
[submodule "roles/minikube"]
	path = roles/minikube
	url = https://github.com/michaelhaessig/ansible-minikube.git
[submodule "roles/kubectl"]
	path = roles/kubectl
	url = https://github.com/michaelhaessig/ansible-kubectl.git
